.mt-0 {
    margin-top: 0 !important;
}
.mt-5 {
    margin-top: 5px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-25 {
    margin-top: 25px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mt-35 {
    margin-top: 35px !important;
}
.mt-40 {
    margin-top: 40px !important;
}
.mt-45 {
    margin-top: 45px !important;
}
.mt-50 {
    margin-top: 50px !important;
}
.mt-60 {
    margin-top: 60px !important;
}
.mt-70 {
    margin-top: 70px !important;
}
.mt-80 {
    margin-top: 80px !important;
}
.mt-90 {
    margin-top: 90px !important;
}
.mt-100 {
    margin-top: 100px !important;
}
.mt-110 {
    margin-top: 110px !important;
}
.mt-120 {
    margin-top: 120px !important;
}
.mt-130 {
    margin-top: 130px !important;
}
.mt-140 {
    margin-top: 140px !important;
}
.mt-150 {
    margin-top: 150px !important;
}
.mt-200 {
    margin-top: 200px !important;
}
.mt-250 {
    margin-top: 250px !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-25 {
    margin-bottom: 25px !important;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mb-35 {
    margin-bottom: 35px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-45 {
    margin-bottom: 45px !important;
}
.mb-50 {
    margin-bottom: 50px !important;
}
.mb-60 {
    margin-bottom: 60px !important;
}
.mb-70 {
    margin-bottom: 70px !important;
}
.mb-80 {
    margin-bottom: 80px !important;
}
.mb-90 {
    margin-bottom: 90px !important;
}
.mb-100 {
    margin-bottom: 100px !important;
}
.mb-110 {
    margin-bottom: 110px !important;
}
.mb-120 {
    margin-bottom: 120px !important;
}
.mb-130 {
    margin-bottom: 130px !important;
}
.mb-140 {
    margin-bottom: 140px !important;
}
.mb-150 {
    margin-bottom: 150px !important;
}
.mb-200 {
    margin-bottom: 200px !important;
}
.mb-250 {
    margin-bottom: 250px !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pt-5 {
    padding-top: 5px !important;
}
.pt-10 {
    padding-top: 10px !important;
}
.pt-15 {
    padding-top: 15px !important;
}
.pt-20 {
    padding-top: 20px !important;
}
.pt-25 {
    padding-top: 25px !important;
}
.pt-30 {
    padding-top: 30px !important;
}
.pt-35 {
    padding-top: 35px !important;
}
.pt-40 {
    padding-top: 40px !important;
}
.pt-45 {
    padding-top: 45px !important;
}
.pt-50 {
    padding-top: 50px !important;
}
.pt-60 {
    padding-top: 60px !important;
}
.pt-70 {
    padding-top: 70px !important;
}
.pt-80 {
    padding-top: 80px !important;
}
.pt-90 {
    padding-top: 90px !important;
}
.pt-100 {
    padding-top: 100px !important;
}
.pt-110 {
    padding-top: 110px !important;
}
.pt-120 {
    padding-top: 120px !important;
}
.pt-130 {
    padding-top: 130px !important;
}
.pt-140 {
    padding-top: 140px !important;
}
.pt-150 {
    padding-top: 150px !important;
}
.pt-180 {
    padding-top: 180px !important;
}
.pt-200 {
    padding-top: 200px !important;
}
.pt-250 {
    padding-top: 250px !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pb-5 {
    padding-bottom: 5px !important;
}
.pb-10 {
    padding-bottom: 10px !important;
}
.pb-15 {
    padding-bottom: 15px !important;
}
.pb-20 {
    padding-bottom: 20px !important;
}
.pb-25 {
    padding-bottom: 25px !important;
}
.pb-30 {
    padding-bottom: 30px !important;
}
.pb-35 {
    padding-bottom: 35px !important;
}
.pb-40 {
    padding-bottom: 40px !important;
}
.pb-45 {
    padding-bottom: 45px !important;
}
.pb-50 {
    padding-bottom: 50px !important;
}
.pb-60 {
    padding-bottom: 60px !important;
}
.pb-70 {
    padding-bottom: 70px !important;
}
.pb-80 {
    padding-bottom: 80px !important;
}
.pb-90 {
    padding-bottom: 90px !important;
}
.pb-100 {
    padding-bottom: 100px !important;
}
.pb-110 {
    padding-bottom: 110px !important;
}
.pb-120 {
    padding-bottom: 120px !important;
}
.pb-130 {
    padding-bottom: 130px !important;
}
.pb-140 {
    padding-bottom: 140px !important;
}
.pb-150 {
    padding-bottom: 150px !important;
}
.pb-200 {
    padding-bottom: 200px !important;
}
.pb-250 {
    padding-bottom: 250px !important;
}
.p-50 {
    padding: 50px;
}
.fs-small {
    font-size: 0.8rem;
    line-height: 1.6;
}
.fs-m {
    font-size: 1.4rem;
    line-height: 1.4;
}
@media only screen and (max-width: 992px) {
    .mt-md-0 {
        margin-top: 0 !important;
    }
    .mt-md-5 {
        margin-top: 5px !important;
    }
    .mt-md-10 {
        margin-top: 10px !important;
    }
    .mt-md-15 {
        margin-top: 15px !important;
    }
    .mt-md-20 {
        margin-top: 20px !important;
    }
    .mt-md-25 {
        margin-top: 25px !important;
    }
    .mt-md-30 {
        margin-top: 30px !important;
    }
    .mt-md-35 {
        margin-top: 35px !important;
    }
    .mt-md-40 {
        margin-top: 40px !important;
    }
    .mt-md-45 {
        margin-top: 45px !important;
    }
    .mt-md-50 {
        margin-top: 50px !important;
    }
    .mt-md-60 {
        margin-top: 60px !important;
    }
    .mt-md-70 {
        margin-top: 70px !important;
    }
    .mt-md-80 {
        margin-top: 80px !important;
    }
    .mt-md-90 {
        margin-top: 90px !important;
    }
    .mt-md-100 {
        margin-top: 100px !important;
    }
    .mt-md-110 {
        margin-top: 110px !important;
    }
    .mt-md-120 {
        margin-top: 120px !important;
    }
    .mt-md-130 {
        margin-top: 130px !important;
    }
    .mt-md-140 {
        margin-top: 140px !important;
    }
    .mt-md-150 {
        margin-top: 150px !important;
    }
    .mt-md-200 {
        margin-top: 200px !important;
    }
    .mt-md-250 {
        margin-top: 250px !important;
    }
    .mb-md-0 {
        margin-bottom: 0 !important;
    }
    .mb-md-5 {
        margin-bottom: 5px !important;
    }
    .mb-md-10 {
        margin-bottom: 10px !important;
    }
    .mb-md-15 {
        margin-bottom: 15px !important;
    }
    .mb-md-20 {
        margin-bottom: 20px !important;
    }
    .mb-md-25 {
        margin-bottom: 25px !important;
    }
    .mb-md-30 {
        margin-bottom: 30px !important;
    }
    .mb-md-35 {
        margin-bottom: 35px !important;
    }
    .mb-md-40 {
        margin-bottom: 40px !important;
    }
    .mb-md-45 {
        margin-bottom: 45px !important;
    }
    .mb-md-50 {
        margin-bottom: 50px !important;
    }
    .mb-md-60 {
        margin-bottom: 60px !important;
    }
    .mb-md-70 {
        margin-bottom: 70px !important;
    }
    .mb-md-80 {
        margin-bottom: 80px !important;
    }
    .mb-md-90 {
        margin-bottom: 90px !important;
    }
    .mb-md-100 {
        margin-bottom: 100px !important;
    }
    .mb-md-110 {
        margin-bottom: 110px !important;
    }
    .mb-md-120 {
        margin-bottom: 120px !important;
    }
    .mb-md-130 {
        margin-bottom: 130px !important;
    }
    .mb-md-140 {
        margin-bottom: 140px !important;
    }
    .mb-md-150 {
        margin-bottom: 150px !important;
    }
    .mb-md-200 {
        margin-bottom: 200px !important;
    }
    .mb-md-250 {
        margin-bottom: 250px !important;
    }
    .pt-md-0 {
        padding-top: 0 !important;
    }
    .pt-md-5 {
        padding-top: 5px !important;
    }
    .pt-md-10 {
        padding-top: 10px !important;
    }
    .pt-md-15 {
        padding-top: 15px !important;
    }
    .pt-md-20 {
        padding-top: 20px !important;
    }
    .pt-md-25 {
        padding-top: 25px !important;
    }
    .pt-md-30 {
        padding-top: 30px !important;
    }
    .pt-md-35 {
        padding-top: 35px !important;
    }
    .pt-md-40 {
        padding-top: 40px !important;
    }
    .pt-md-45 {
        padding-top: 45px !important;
    }
    .pt-md-50 {
        padding-top: 50px !important;
    }
    .pt-md-60 {
        padding-top: 60px !important;
    }
    .pt-md-70 {
        padding-top: 70px !important;
    }
    .pt-md-80 {
        padding-top: 80px !important;
    }
    .pt-md-90 {
        padding-top: 90px !important;
    }
    .pt-md-100 {
        padding-top: 100px !important;
    }
    .pt-md-110 {
        padding-top: 110px !important;
    }
    .pt-md-120 {
        padding-top: 120px !important;
    }
    .pt-md-130 {
        padding-top: 130px !important;
    }
    .pt-md-140 {
        padding-top: 140px !important;
    }
    .pt-md-150 {
        padding-top: 150px !important;
    }
    .pt-md-200 {
        padding-top: 200px !important;
    }
    .pt-md-250 {
        padding-top: 250px !important;
    }
    .pb-md-0 {
        padding-bottom: 0 !important;
    }
    .pb-md-5 {
        padding-bottom: 5px !important;
    }
    .pb-md-10 {
        padding-bottom: 10px !important;
    }
    .pb-md-15 {
        padding-bottom: 15px !important;
    }
    .pb-md-20 {
        padding-bottom: 20px !important;
    }
    .pb-md-25 {
        padding-bottom: 25px !important;
    }
    .pb-md-30 {
        padding-bottom: 30px !important;
    }
    .pb-md-35 {
        padding-bottom: 35px !important;
    }
    .pb-md-40 {
        padding-bottom: 40px !important;
    }
    .pb-md-45 {
        padding-bottom: 45px !important;
    }
    .pb-md-50 {
        padding-bottom: 50px !important;
    }
    .pb-md-60 {
        padding-bottom: 60px !important;
    }
    .pb-md-70 {
        padding-bottom: 70px !important;
    }
    .pb-md-80 {
        padding-bottom: 80px !important;
    }
    .pb-md-90 {
        padding-bottom: 90px !important;
    }
    .pb-md-100 {
        padding-bottom: 100px !important;
    }
    .pb-md-110 {
        padding-bottom: 110px !important;
    }
    .pb-md-120 {
        padding-bottom: 120px !important;
    }
    .pb-md-130 {
        padding-bottom: 130px !important;
    }
    .pb-md-140 {
        padding-bottom: 140px !important;
    }
    .pb-md-150 {
        padding-bottom: 150px !important;
    }
    .pb-md-200 {
        padding-bottom: 200px !important;
    }
    .pb-md-250 {
        padding-bottom: 250px !important;
    }
    .fs-md-small {
        font-size: 16px;
    }
    .fs-md-m {
        font-size: 18px;
    }
}
@media only screen and (max-width: 767px) {
    .mt-sm-0 {
        margin-top: 0 !important;
    }
    .mt-sm-5 {
        margin-top: 5px !important;
    }
    .mt-sm-10 {
        margin-top: 10px !important;
    }
    .mt-sm-15 {
        margin-top: 15px !important;
    }
    .mt-sm-20 {
        margin-top: 20px !important;
    }
    .mt-sm-25 {
        margin-top: 25px !important;
    }
    .mt-sm-30 {
        margin-top: 30px !important;
    }
    .mt-sm-35 {
        margin-top: 35px !important;
    }
    .mt-sm-40 {
        margin-top: 40px !important;
    }
    .mt-sm-45 {
        margin-top: 45px !important;
    }
    .mt-sm-50 {
        margin-top: 50px !important;
    }
    .mt-sm-60 {
        margin-top: 60px !important;
    }
    .mt-sm-70 {
        margin-top: 70px !important;
    }
    .mt-sm-80 {
        margin-top: 80px !important;
    }
    .mt-sm-90 {
        margin-top: 90px !important;
    }
    .mt-sm-100 {
        margin-top: 100px !important;
    }
    .mt-sm-110 {
        margin-top: 110px !important;
    }
    .mt-sm-120 {
        margin-top: 120px !important;
    }
    .mt-sm-130 {
        margin-top: 130px !important;
    }
    .mt-sm-140 {
        margin-top: 140px !important;
    }
    .mt-sm-150 {
        margin-top: 150px !important;
    }
    .mt-sm-200 {
        margin-top: 200px !important;
    }
    .mt-sm-250 {
        margin-top: 250px !important;
    }
    .mb-sm-0 {
        margin-bottom: 0 !important;
    }
    .mb-sm-5 {
        margin-bottom: 5px !important;
    }
    .mb-sm-10 {
        margin-bottom: 10px !important;
    }
    .mb-sm-15 {
        margin-bottom: 15px !important;
    }
    .mb-sm-20 {
        margin-bottom: 20px !important;
    }
    .mb-sm-25 {
        margin-bottom: 25px !important;
    }
    .mb-sm-30 {
        margin-bottom: 30px !important;
    }
    .mb-sm-35 {
        margin-bottom: 35px !important;
    }
    .mb-sm-40 {
        margin-bottom: 40px !important;
    }
    .mb-sm-45 {
        margin-bottom: 45px !important;
    }
    .mb-sm-50 {
        margin-bottom: 50px !important;
    }
    .mb-sm-60 {
        margin-bottom: 60px !important;
    }
    .mb-sm-70 {
        margin-bottom: 70px !important;
    }
    .mb-sm-80 {
        margin-bottom: 80px !important;
    }
    .mb-sm-90 {
        margin-bottom: 90px !important;
    }
    .mb-sm-100 {
        margin-bottom: 100px !important;
    }
    .mb-sm-110 {
        margin-bottom: 110px !important;
    }
    .mb-sm-120 {
        margin-bottom: 120px !important;
    }
    .mb-sm-130 {
        margin-bottom: 130px !important;
    }
    .mb-sm-140 {
        margin-bottom: 140px !important;
    }
    .mb-sm-150 {
        margin-bottom: 150px !important;
    }
    .mb-sm-200 {
        margin-bottom: 200px !important;
    }
    .mb-sm-250 {
        margin-bottom: 250px !important;
    }
    .pt-sm-0 {
        padding-top: 0 !important;
    }
    .pt-sm-5 {
        padding-top: 5px !important;
    }
    .pt-sm-10 {
        padding-top: 10px !important;
    }
    .pt-sm-15 {
        padding-top: 15px !important;
    }
    .pt-sm-20 {
        padding-top: 20px !important;
    }
    .pt-sm-25 {
        padding-top: 25px !important;
    }
    .pt-sm-30 {
        padding-top: 30px !important;
    }
    .pt-sm-35 {
        padding-top: 35px !important;
    }
    .pt-sm-40 {
        padding-top: 40px !important;
    }
    .pt-sm-45 {
        padding-top: 45px !important;
    }
    .pt-sm-50 {
        padding-top: 50px !important;
    }
    .pt-sm-60 {
        padding-top: 60px !important;
    }
    .pt-sm-70 {
        padding-top: 70px !important;
    }
    .pt-sm-80 {
        padding-top: 80px !important;
    }
    .pt-sm-90 {
        padding-top: 90px !important;
    }
    .pt-sm-100 {
        padding-top: 100px !important;
    }
    .pt-sm-110 {
        padding-top: 110px !important;
    }
    .pt-sm-120 {
        padding-top: 120px !important;
    }
    .pt-sm-130 {
        padding-top: 130px !important;
    }
    .pt-sm-140 {
        padding-top: 140px !important;
    }
    .pt-sm-150 {
        padding-top: 150px !important;
    }
    .pt-sm-200 {
        padding-top: 200px !important;
    }
    .pt-sm-250 {
        padding-top: 250px !important;
    }
    .pb-sm-0 {
        padding-bottom: 0 !important;
    }
    .pb-sm-5 {
        padding-bottom: 5px !important;
    }
    .pb-sm-10 {
        padding-bottom: 10px !important;
    }
    .pb-sm-15 {
        padding-bottom: 15px !important;
    }
    .pb-sm-20 {
        padding-bottom: 20px !important;
    }
    .pb-sm-25 {
        padding-bottom: 25px !important;
    }
    .pb-sm-30 {
        padding-bottom: 30px !important;
    }
    .pb-sm-35 {
        padding-bottom: 35px !important;
    }
    .pb-sm-40 {
        padding-bottom: 40px !important;
    }
    .pb-sm-45 {
        padding-bottom: 45px !important;
    }
    .pb-sm-50 {
        padding-bottom: 50px !important;
    }
    .pb-sm-60 {
        padding-bottom: 60px !important;
    }
    .pb-sm-70 {
        padding-bottom: 70px !important;
    }
    .pb-sm-80 {
        padding-bottom: 80px !important;
    }
    .pb-sm-90 {
        padding-bottom: 90px !important;
    }
    .pb-sm-100 {
        padding-bottom: 100px !important;
    }
    .pb-sm-110 {
        padding-bottom: 110px !important;
    }
    .pb-sm-120 {
        padding-bottom: 120px !important;
    }
    .pb-sm-130 {
        padding-bottom: 130px !important;
    }
    .pb-sm-140 {
        padding-bottom: 140px !important;
    }
    .pb-sm-150 {
        padding-bottom: 150px !important;
    }
    .pb-sm-200 {
        padding-bottom: 200px !important;
    }
    .pb-sm-250 {
        padding-bottom: 250px !important;
    }
    .p-sm-30 {
        padding: 30px !important;
    }
}